@import url("https://cdn.jsdelivr.net/gh/pengx17/logseq-dev-theme@main/custom.css");

@font-face {
  font-family: "Genshin";
  font-style: normal;
  font-weight: normal;
  src: url(https://static.wikia.nocookie.net/gensin-impact/images/6/65/Genshin_Impact_Font.woff)
    format("truetype");
}

.genshin {
  font-family: Genshin;
}

