{:module-uris {:main [], :code-editor ["https://asset.logseq.com/static/js/code-editor.js"], :age-encryption ["https://asset.logseq.com/static/js/age-encryption.js"], :excalidraw ["https://asset.logseq.com/static/js/excalidraw.js"]}, :module-infos {:main nil, :code-editor #{:main}, :age-encryption #{:main}, :excalidraw #{:main}}}