
/* 设置以=r.md结尾的文件背景色 */
.block-language-dataview a[href$="=r.md"]{
    background-color: rgb(173, 72, 59) !important;
}
.block-language-dataview a[href$="=g.md"]{
    background-color: rgb(76, 161, 76) !important;
}
.block-language-dataview a[href$="=b.md"]{
    background-color: rgb(56, 104, 160) !important;
}




/* 缩减查询结果停驻在侧边栏时的页边距 */
.workspace-leaf-content  .markdown-preview-view .markdown-preview-section,
.workspace-leaf-content  .markdown-preview-view{
    padding: 0px;
    /* padding: 0px !important; */
}

.workspace-leaf-content .markdown-preview-section .dataview{
    margin: 0px;
}
.workspace-leaf-content .markdown-preview-section .dataview .table-view-thead{
    display: none;
}
/* 隐藏查询表头 */
.workspace-leaf-content .dataview .table-view-tbody td{
    padding: 4px !important;
    min-width: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
    /* background-color: #000; */
}
/* 目录页笔记下方不留空 */
.workspace-leaf-content .markdown-preview-section{
/* .element.style{ */
    padding-bottom: 0px !important;
    /* min-height: 725px; */
}
/* 隐藏yaml区 */
.markdown-preview-section .workspace-leaf-content .language-yaml{
    display: none;
}
/* 所有内链背景色为透明 */
.dataview .internal-link{
    background-color: #00000000 !important;
}









/* 普通表格 */


/*预览表格全宽*/
.markdown-preview-view table {
	width: 100%;
	margin-top: 12px;

}

/*表格框线、字体、内边距*/
.markdown-preview-view tbody tr td,
.markdown-preview-view th {
	font-size: 14px;
	padding: 4px 15px !important;
    min-width: 100px;
    text-align: left;
}

/* _________ */
/*黑暗主题*/
.theme-dark .markdown-preview-view td,
.theme-dark .markdown-preview-view th {
    border-right: solid 1px #999999 !important;
}
/* 表头 */
.theme-dark .markdown-preview-view th {
    border-bottom: 2px solid #666666;
    border-top: 2px solid #999999;
    font-weight: 800;
    background-color:  #ffffff40;
}
/*表格背景奇数行填充灰色*/
.theme-dark .markdown-preview-view tbody tr:nth-child(odd) {
    background-color:  #ffffff30;
}
/* 偶数行背景 */
.theme-dark .markdown-preview-view tr:nth-child(even) {
    background-color: #ffffff18;
}
/*最后一行画横线*/
.theme-dark .markdown-preview-view tr:last-child {
    border-bottom: 1px solid  #0ddd64;
}


/* _________ */
/*明亮主题*/
.theme-light .markdown-preview-view td,
.theme-light .markdown-preview-view th {
    border-right: solid 1px #6d6d6d !important;
}
/* 表头 */
.theme-light .markdown-preview-view th {
    background-color:  #00000060;
    border-top: 2px solid #272727;
    border-bottom: 2px solid #999999;
    font-weight: 800;
}
/*表格背景奇数行填充灰色*/
.theme-light .markdown-preview-view tbody tr:nth-child(odd) {
    background-color:  #00000030;
}
/* 偶数行背景 */
.theme-light .markdown-preview-view tr:nth-child(even) {
    background-color: #00000008;
}
/*最后一行画横线*/
.theme-light .markdown-preview-view tr:nth-child {
    border-bottom: 2px solid  #e71f1f;
}



/* 两列无框线 */
.markdown-preview-view td:first-child,
.markdown-preview-view th:first-child{
    border-left: none;
}
.markdown-preview-view td:last-child,
.markdown-preview-view th:last-child{
    border-right:none !important;
}
.theme-dark .markdown-preview-view tr:last-child {
    border-bottom: 1px solid  #3d3d3d;
}